/* Browser Reset */
/* line 2, sass/reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 65, sass/reset.scss */
body {
  line-height: 1;
}

/* line 69, sass/reset.scss */
ol,
ul {
  list-style: none;
}

/* line 74, sass/reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 79, sass/reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* line 87, sass/reset.scss */
blockquote {
  margin: 20px 0 30px;
  padding-left: 20px;
  border-left: 5px solid;
}

/* line 93, sass/reset.scss */
:focus {
  outline: 0;
}

/* line 97, sass/reset.scss */
ins {
  text-decoration: none;
}

/* line 101, sass/reset.scss */
del {
  text-decoration: line-through;
}

/* line 105, sass/reset.scss */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* line 110, sass/reset.scss */
article,
aside,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
