/* Variables
   ========================================================================== */

$text-color: black;
$base-font-size: 16px;	
$base-font-weight: 400;

/* colors */
$black: #1f1f1f;
$white: #fff;
$yellow: #faae1e;
